h1{
            color: red;
            font-family: 'Times New Roman', Times, serif;
            font-weight:bold;
        }

    p{
        color : brown;

    }

    #headercss{
        color: purple;
    }
    .paraclass{
        font-size: 40px;
    
    }